@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 18px;
  margin-bottom: -20px;
  font-size: 13px;
  line-height: 17px;
  font-family: Roboto;
}

.pagination--no-margin-b {
  margin-bottom: 0;
}

.pagination__descr {
  margin-left: 4px;
  color: rgba(35, 35, 35, 0.3);
}

.pagination__menu {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.pagination__btn {
  &.disabled {
    a {
      color: rgba(35, 35, 35, 0.3);
      cursor: default;
      &:hover {
        color: rgba(35, 35, 35, 0.3);
        text-decoration: none;
      }
    }
  }
  a {
    color: rgba(35, 35, 35, 0.8);
    text-decoration: none;
    transition: 300ms;
    &:hover {
      color: rgba(35, 35, 35, 0.8);
      text-decoration: underline;
    }
  }
}

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0 25px;
  list-style-type: none;
}

.pagination__item {
  margin-right: 5px;
  &:last-of-type {
    margin-right: 0;
  }
  &.active {
    a {
      color: rgba(35, 35, 35, 0.8);
      border-color: rgba(0, 0, 0, 0.1);
    }
  }
  a {
    display: block;
    box-sizing: border-box;
    width: 39px;
    height: 37px;
    padding: 9px 5px 9px;
    text-align: center;
    color: rgba(35, 35, 35, 0.4);
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 19px;
    transition: 300ms;
    &:hover {
      color: rgba(35, 35, 35, 0.8);
      background-color: #ffffff;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
  }
}