@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.toggle-list {
  position: relative;
  &.active {
    .toggle-list__toggle {
      z-index: 860;
      background-image: url("../img/arrow-top--min.png");
      border: none;
      opacity: 0.6;
      &:hover {
        background-image: url("../img/arrow-top--min.png");
        opacity: 1;
      }
    }
  }
}

.toggle-list--big-table {
  display: inline-block;
  height: 31px;
  margin-right: 6px;
  margin-bottom: 1px;
  vertical-align: middle;
  .toggle-list__toggle {
    width: 32px;
    height: 31px;
    background-image: url("../img/arrow-down--min-light.png");
    border: 2px solid rgba(232, 232, 232, 0.6);
    &:hover {
      background-image: url("../img/arrow-down--min.png");
      border-color: rgba(232, 232, 232, 0.8);
    }
  }
  .toggle-list__list {
    padding: 7px 47px 7px 17px;
    border-radius: 12px 12px 15px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.19);
  }
  .toggle-list__item {
    a {
      padding: 8px 0;
      &:hover {
        color: #8d9f69;
      }
    }
  }
}

.toggle-list__toggle {
  position: relative;
  box-sizing: border-box;
  width: 37px;
  height: 37px;
  background: #ffffff url("../img/arrow-down--min.png") no-repeat center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: 300ms;
  &:hover {
    border-color: rgba(0, 0, 0, 0.3);
  }
}

.toggle-list__list {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 850;
  display: none;
  box-sizing: border-box;
  margin: 0;
  padding: 32px 44px 14px 24px;
  list-style-type: none;
  background-color: white;
  border-radius: 18px;
  box-shadow: 2px 0 38px rgba(0, 0, 0, 0.14);
}

.toggle-list__item {
  display: flex;
  justify-content: flex-start;
  a {
    position: relative;
    padding: 10px 0;
    font-size: 12px;
    line-height: 14px;
    color: #bebebe;
    text-decoration: none;
    white-space: nowrap;
    &:hover {
      color: #5c5c5c;
    }
  }
}