@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  font-family: Roboto;
}

.form--mid {
  .form__label {
    span {
      width: 182px;
    }
  }
  .form__input, .form__textarea, .form__select {
    width: 455px;
  }
  .form__buttons {
    padding-left: 182px;
  }
  .form__select {
    background-position: 420px center;
  }
}

.form--mid-2 {
  .form__label {
    span {
      width: 284px;
    }
  }
  .form__input, .form__textarea, .form__select {
    width: 400px;
  }
  .form__buttons {
    padding-left: 284px;
  }
  .form__select {
    background-position: 365px center;
  }
}

.form--min {
  .form__label {
    span {
      width: 390px;
    }
  }
  .form__input, .form__textarea, .form__select {
    width: 455px;
  }
  .form__buttons {
    padding-left: 480px;
  }
  .form__select {
    background-position: 420px center;
  }
}

.form--big-text {
  .form__label {
    span {
      width: 520px;
    }
  }
  .form__input, .form__textarea, .form__select {
    width: 455px;
  }
  .form__textarea {
    height: 100px;
  }
  .form__buttons {
    padding-left: 480px;
  }
  .form__select {
    background-position: 420px center;
  }
}

.form--big-input {
  .form__input, .form__textarea, .form__select {
    width: 615px;
  }
  .form__select {
    background-position: 580px center;
  }
}

.form--big {
  .form__label {
    span {
      width: 330px;
    }
  }
  .form__input, .form__textarea, .form__select {
    width: 535px;
  }
  .form__buttons {
    padding-left: 25px;
  }
  .form__select {
    background-position: 500px center;
  }
}

.form--center {
  width: 100%;
  margin-bottom: 10px;
  padding: 0 8%;
  .form__label {
    span {
      width: 100%;
    }
  }
  .form__input, .form__textarea, .form__select {
    width: 100%;
  }
  .form__buttons {
    padding-left: 25px;
  }
  .form__select {
    background-position: 500px center;
  }
}

.form--horizontal {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  .form__label, .form__label--file {
    margin-top: 0;
    margin-bottom: 0;
  }
  .form__buttons {
    margin-top: 0;
    padding-left: 15px;
  }
}

.form__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
  .form__input, .form__textarea, .form__select, .form__checkbox {
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.form__label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  span, .form__name {
    align-self: flex-start;
    box-sizing: border-box;
    width: 150px;
    margin-top: 8px;
    padding-right: 25px;
    font-size: 14px;
    line-height: 23px;
    text-align: right;
    color: rgba(35, 35, 35, 0.6);
  }
}

.form__label--center-top {
  align-items: flex-start;
}

.form__label--ckeditor {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .form__name {
    align-self: flex-start;
    box-sizing: border-box;
    width: 150px;
    margin-top: 8px;
    padding-right: 25px;
    font-size: 14px;
    line-height: 23px;
    text-align: right;
    color: rgba(35, 35, 35, 0.6);
  }
  .cke_bottom, .cke_top {
    background: none;
    border-color: #e8e8e8;
  }
  .cke_top {
    padding: 15px 10px 10px 15px;
  }
  .cke_bottom {
    padding: 7px 12px 6px;
  }
  .cke {
    font-family: Roboto;
    border: 1px solid #e8e8e8;
    border-radius: 19px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .06);
  }
  .cke_inner {
    border-radius: 19px;
  }
  .cke_resizer {
    margin-top: 2px;
    margin-right: 1px;
  }
  .cke_editable {
    margin: 8px 10px;
    font-size: 15px;
    font-family: Roboto;
    color: rgba(35, 35, 35, .9);
  }
  .cke_resizer {
    opacity: 0.6;
    &:hover {
      opacity: 0.8;
    }
  }
}

.form__label--margin-b {
  margin-bottom: 25px;
}

.form__label--column {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  span {
    margin-bottom: 10px;
    text-align: left;
  }
}

.form__label--file {
  margin-top: 5px;
  span {
    align-self: center;
    margin-top: 0;
  }
  i {
    display: inline-block;
    margin-left: 8px;
    font-size: 13px;
    color: rgba(35, 35, 35, 0.4);
    font-style: normal;
  }
}

.form__label--short {
  span {
    width: auto;
    padding-right: 10px;
    padding-left: 40px;
  }
}

.form__radio {
  display: block;
}

.form__radio-box-line {
	display: flex;
	margin-top: 10px;
}

.form__input, .form__textarea, .form__select {
  width: 335px;
}

.form__select--short {
  width: 215px !important;
  background-position: 183px center !important;
}

.form__input--auto, .form__textarea--auto {
  width: 100% !important;
}

.form__select--min, .form__input--min {
  width: 113px !important;
  background-position: 82px center !important;
}

.form__input--short {
  width: 155px !important;
}

.form__input--mid, .form__select--mid {
  width: 270px !important;
  background-position: 240px center !important;
}

.form__buttons {
  display: flex;
  margin-top: 16px;
  padding-left: 150px;
}

.form__buttons--center {
  justify-content: center;
  padding-left: 0;
}

.form__btn {
  margin-right: 8px;
  &:last-of-type {
    margin-right: 0;
  }
}

.form__checkbox--margin-l {
  margin-left: 20px;
}

.form__checkbox-box {
  display: flex;
  flex-direction: column;
}

.form--big--wide {
  .form__label {
    span {
      width: 450px;
    }
  }
  .form__input, .form__textarea, .form__select {
    width: 600px;
  }
  .form__buttons {
    padding-left: 25px;
  }
  .form__select {
    background-position: 565px center;
  }
}