@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.header-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 285px;
  font-family: Roboto;
}

.header-user__notice {
  position: relative;
  display: flex;
  width: 32px;
  height: 34px;
  margin-right: 37px;
  cursor: pointer;
  &:hover {
    img {
      opacity: 1;
    }
    .header-user__notice-count {
      background-color: #719f15;
    }
  }
  img {
    width: 24px;
    height: 24px;
    margin-top: auto;
    margin-right: auto;
    opacity: 0.5;
  }
  .header-user__notice-count {
    top: 0;
    right: 0;
    padding-right: 1px;
  }
}

.header-user__notice-count {
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  font-family: Arial;
  text-align: center;
  color: white;
  background-color: #88b62c;
  border-radius: 10px;
}

.header-user__avatar {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
}

.header-user__name {
  margin-right: 40px;
  font-size: 15px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
}

.header-user__menu {
  margin-right: 50px;
  a {
    &:hover {
      .header-user__notice-count {
        background-color: #719f15;
      }
    }
    .header-user__notice-count {
      @include center-y();
      right: -25px;
    }
  }
}